<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<link rel="hospital style sheet" href="login.css">
</head>
<body>
<center>
<h1>Hospital patient details form</h1>
<form action="login">
<input text="" placeholder="Enter the name of the patrient " name="name"><br>
<input text="" placeholder="Enter the gender" name="gender"><br>
<input text="" placeholder="Enter the Blood test result" name="bloodtest"><br>
<input text="" placeholder="Enter the Sugar test ressult" name="sugartest"><br>
<input text="" placeholder="Enter the date" name="date"><br>
<input text="" placeholder="Enter the patient adress" name="address"><br>
<input text="" placeholder="Enter the mobille number number" name="number"><br>
<input text="" placeholder="Enter the Feez of the patient" name="feez"><br>
<input text="" placeholder="Enter the age of the patient" name="age"><br>
<input type="submit">
</form>
</center>

</body>
</html>